/*==================================
********* Fonts **********
===================================*/

body {
	font-family: 'Varela Round', sans-serif;
	line-height: 1.6;
}

.font-tangerine{
    font-family: $font-stack-heading;
}
