/* =================================
  Base Element Styles
==================================== */

* {
	box-sizing: border-box;
}

body {
	font-family: 'Varela Round', sans-serif;
	line-height: 1.6;
    margin: 0;
}

h1 {
    &.name {
    margin: 0;
    }//*This had to be added to get rid of the margin around Bryan Klinglesmith in the navagation bar to make it look even*/

    &.headline{
        text-align: center;
        font-size: 3em;
    }
    
    &.project-gallery{
        margin: 0;
    }
}


ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

/*} this removes underlines and other markings from a list*/
a {
    text-decoration: none;
}

.tagline {
    text-align: center;
}