/* =================================
  Base Layout Styles
==================================== */

/*adds border around the navbar elements*/
ul > li {
    border: solid black;
    margin-right: .3em;
}

p.explanation {
    margin: 0;
}

.navigation-banner {
    background-color: $header-color;

}

.secondary > h2 {
    margin: auto;
    text-align: center;
}

.twitter-timeline {
    margin: auto;
}


/*adjusting the color of the text in the banner and the 2 columns of text*/
.banner,
.row {
    color: #3a3a3a;
}