//===========================
// Buttons
//===========================

input {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    margin-bottom: 1em;
}

.top-button {
    margin: auto 20px;
}