//============================
// Icons
//============================

.icon {
    height: 50px;
    margin: 12px 20px;
}

.trademark {
    margin: auto 20px;
}

.menu {
    float: left;
    margin-left: 3.5em;
}



